version: '2.3'

services: 
  sut:
    build: 
      context: ./
    volumes:
      - .:/app
    working_dir: /app
    command:
      - bash
      - -c
      - |
        set -e
        make clean
        make
        make valgrind
        timeout --preserve-status 2s \
          valgrind --leak-check=full \
            --show-leak-kinds=all \
            --track-origins=yes \
            --verbose \
            --error-exitcode=1 \
            ./valgrind-disk-watchdogd -v -d -f ./valgrind-disk-watchdogd -i 100
